.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: #fff;
  text-decoration: none;
  z-index: 2;
}

@media screen and (max-width:500px) {
  .cover__link {
    gap: 16px;
  }
}
