.photo-grid {
  max-width: 1184px;
  padding: 0 48px;
}

@media screen and (max-width:900px) {
  .photo-grid {
    padding: 0 24px;
  }
}

@media screen and (max-width:767px) {
  .photo-grid {
    padding: 0 16px;
  }
}
